<div class="container">
  <app-cockpit></app-cockpit>
  </div>
  <!-- <div class="hello">
    <input *ngIf="changeUserName" (keydown)="onKeydown($event)" type="text" name="username" [(ngModel)]="userName">
    <br/>
    <p *ngIf="!changeUserName" (click)="changeUserName=true">{{ userName }}</p>
    <br/>
    <textarea rows="5" cols="20" *ngIf="!showContent" [(ngModel)]="usernameContent"></textarea>

    <button class="btn btn-danger" (click)="showContent=true" *ngIf="!showContent">HELLO</button>

    <div *ngIf="showContent" (click)="showContent=false">
      {{ usernameContent }} {{ userName }}
    </div>
  </div> -->